[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gpiozero = "*"
lgpio = "*"
pigpio = "*"
pillow = "*"
smbus = "*"
spidev = "*"
strip-ansi = "*"
"rpi.gpio" = "*"
numpy = "*"
safe-exit = "*"

[dev-packages]
